.jumbotron {
  width: 100%;
  color: gold;
  background-color: white;
}

.container {
  width: 100%;
}

#robot {
  height: 120px;
  float: left;
}

body {
  background-color: silver;
  color: purple;
}

#result {
  /*display: none;*/
  width: 100%;
  margin: auto;
  text-align: center;
}
